//menu
nav{
	position: absolute;
	top:$panel-size;
	left:0;
	//width:calc(42vw + #{$panel-size} );
	z-index:$nav-index;
	height:calc(100% - #{$panel-size});
	&:after{
		clear:both;
	};
}
.menu{
	height:100%;
	@include flexbox(row,top, flex-start);
	position: relative;
}
.menubar{	
	position: absolute;
	top:0;
	left:0;
	z-index:$menubar-index;
	background-color: rgba(255,255,255,0.9);
	height:100%;
	width:$panel-size;
	padding:24px 11px;
	border-right:1px solid $primary-color;
	.menuitem{
		width:32px;
		height:32px;
		margin-bottom: 24px;
		a:hover{
			.a{
			fill:$orange;
			}
		};
	}
	.menuitem.active{
		a{
			.a{fill:$orange;}
		}
		a.add-task{
			&:before,
			&:after{
			background-color: $orange;
		   }
		}
	}
}
.add-task{
	margin:4px;
	@include plusicon(24px,$primary-color);
	&:hover{
		&:before,
		&:after{
		background-color: $orange;
	   }
	};
}
.menupanel{
	position: absolute;
	z-index:104;
	top:0;
	left:$panel-size;
	background-color: rgba(255,255,255,0.9);
	height:100%;
	width:42vw;
	transition: all 1s;
	transform:translateX(calc(-42vw - #{$panel-size}));
	&.open{
		transform:translateX(0);
	}
}
.menupan-content{
	display:none;
	padding:24px 0 0 0;
	h2{
		color:$orange;
		padding:0 40px;
	}
	&.show{
		display:block;
	}	
}
.task-form{
	padding:0 40px 20px 40px;
	.formitem{
		margin-top:24px;
	}
	label{
		width:100%;
		color:$primary-color;
	}
	input, select, .tomato-count{
		color:$text-gray;
		height:36px;
		margin-top: 10px;
		border-radius:23px;
		border:1px solid $sec-color;
		display:block;
		font-family: 'Raleway';
		&:focus{
			border: 1px solid $primary-color;
		};
		&.alert{
			border: 1px solid $orange;
		}
	}
	input{
		padding:0 30px;
		width:calc(100% - 30px*2);
	}
	select{
		padding:0 30px 0 36px;
		font-family: 'Raleway';
		font-size:20px;
		width:90px;
		background-color:$sec-color;
	}
	.dateinput{
		background-image: url('../img/icon_date.svg');
		background-repeat: no-repeat;
		background-position: calc(100% - 30px);

	}
	.parall-item{
		@include flexbox(row, center,space-between);
		label{
			width:auto;
			margin-right: 30px;
		}
	}
	.tomato-count{
		background-color: $sec-color;
		width:calc(100% - 90px);
		margin-left:30px;
		padding:7px 10px;
	}
	input.orange-btn{
		position:absolute;
		bottom:60px;
		left:calc(((42vw - 180px)*0.5)) ;
		width:180px;
		color:$sec-color;
		border:1px solid $orange;
	}
}
.pan-content{
	padding:11px 40px;
	border-top:1px solid $primary-color;
	h4{
		color:$orange;
	}
	ul{
		padding:5px 0 20px 0;
	}
	li{
		width:100%;
		height:36px;
		color:$text-gray;
		background-color: $sec-color;
		border-radius: 2px;
		margin-bottom: 2px;
		padding-top:8px;
		span{
			float:right;

			&:after{
				content:'';
				clear:both;
			}
		}
	}
}
#chart-holder{
	background-color: white;
	margin-bottom:20px;
}
.control-holder{
	@include flexbox(row, center, space-between);
	.orange-btn{
		width:90px;
		height:32px;
	}
	.round-btn{
		padding:5px;
		img{
			padding-left:5px;
		}
	}
}

.tab-menu{
	ul{
		@include flexbox(row, center, space-between);
		padding:5px 0;
		li{
			width:49%;
			text-align: center;
			background-color: $light-gray;
			&.active{
				background-color: $orange;
				color:$sec-color;
			}
		}
	}
}
.tab-content{
	.total{
		background-color: $sec-color;
		color:$orange;
		margin-bottom: 10px;
		@include flexbox(row, baseline, sapce-between);
		p{
			padding:10px;
			.small{
				color:$primary-color;
			}
		}
	}
}

.ringtone-form{
	padding:20px 40px 20px 40px;
	label{
		display:block;
		position: relative;
		padding-left:30px;
		height:36px;
		width:100%;
		background-color: rgba(255,255,255,0.6);
		padding-top: 8px;
		color:$text-gray;
		user-select: none;
		cursor: pointer;
		margin-bottom: 2px;
		.orange-radio {
		  position: absolute;
		  top: 12px;
		  left: 5px;
		  height: 15px;
		  width: 15px;
		  background-color: $sec-color;
		  border-radius: 50%;
		  border:1px solid $orange;
		}
		&:hover input ~ .orange-radio{
			background-color:$orange;
		}
		input:checked ~ .orange-radio{
			background-color:$orange;
		}
		input:checked ~ .orange-radio:after {
			background-color:$orange;
		  display: block;
		}
	}
}