
.btn{
  display:block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
  cursor:pointer;
}

.round-btn{
	height:36px;
	border-radius:20px;
	font-size:20px;
	font-weight: $font-weight-regular;
	padding:8px;
}
.orange-btn{
	background-color:$orange;
	color:$sec-color;
	&:hover{
		background-color: $primary-color;
		border:1px solid $primary-color !important;
	};
}

.btn-ok{
	width:120px;
	position: absolute;
	bottom:20px;
	left:calc((100% - 120px)*0.5);
}


.btn-move{
	background-image: url('../img/icon_move list.svg');
	background-repeat: no-repeat;
	background-position: top center;
	width:32px;
	height:32px;
	float:left;
	&:hover{
		background-image: url('../img/icon_move list_hover.svg');
	};
	&:after{
		clear:both;
	}
}
.btn-play-pause{
	background-image: url('../img/icon_main play.svg');
	width:48px;
	height:48px;
	&:hover{
		background-image: url('../img/icon_main play_active.svg');
	};
}
.btn-play-pause.playing{
	background-image: url('../img/icon_main stop.svg');
	&:hover{
		background-image: url('../img/icon_main stop_active.svg');
	};
}

.btn-reset{
	background-image: url('../img/icon_main restart.svg');
	width:48px;
	height:48px;
	&:hover{
		background-image: url('../img/icon_main restart_active.svg');
	}
}
.btn-cancel{
	background-image: url('../img/icon_main cancel.svg');
	width:48px;
	height:48px;
	&:hover{
		background-image: url('../img/icon_main cancel_active.svg');
	}
}
