///font
@mixin flexbox($_direction, $_align, $_justify){
  display:flex;
  flex-direction: $_direction;
  align-items: $_align;
  justify-content: $_justify;
}

@mixin plusicon($_size, $_color){
    position: relative;
    display:block;
    width: $_size;
    height: $_size;
    &:before,
    &:after{
        content: "";
        position: absolute;
        background-color: $_color;
    }

    /* Vertical line */
    &:before{
        top: 0;
        left: 50%;
        width: 4px;
        height: 100%;
        margin-left: -2px;
    }

    /* horizontal line */
    &:after{
        top: 50%;
        left: 0;
        width: 100%;
        height: 4px;
        margin-top: -2px;
    }
}

@mixin orange-dot(){
  display:block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $orange;
 
}