/////variable
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
//color
$primary-color:#125B6A;
$sec-color:#fff;
$orange:#E46713;
$light-blue:#1EEEFE;
$gray-text:#4D4D4D;
//font
$font-weight-medium:500;
$font-weight-regular:400;
//
$panel-size:54px;
