/////variable
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$header-index:200;
$menubar-index:105;
$nav-index:100;
$clock-index:5;


//color
$primary-color:#125B6A;
$sec-color:#fff;
$orange:#E46713;
$light-blue:#1EEEFE;
$text-gray:#4D4D4D;
$light-gray:#E5E5E5;
//font
$font-weight-medium:500;
$font-weight-regular:400;
//
$panel-size:54px;
